# 忽略 node_modules 目录
/node_modules

# pnpm 的虚拟存储目录
.pnp
.pnp.*

# 忽略测试覆盖率报告目录
/coverage

# 忽略 Next.js 构建输出目录
/.next/
/out/

# 忽略生产环境构建目录
/build

# 忽略 MacOS 下的文件
.DS_Store

# 忽略密钥文件
*.pem

# 忽略 npm 和 yarn 的调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略所有的环境变量文件
.env*

# 忽略 Vercel 部署配置目录
.vercel

# 忽略 TypeScript 构建信息
*.tsbuildinfo
next-env.d.ts

