.nav-bar {
    display: flex;
    align-items: center;
    position: relative;
    left: 16px;
    border: 1px solid red;

    & a {
        padding: 1rem;
    }
    
    & a {
        border: 1px solid black;
    }
}

.chan-header {
    height: 58px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    border-radius: 12px;
}
