.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 60px;
    width: 100%;
    height: auto;
    z-index: 9999;
}

.chan-message {
    display: grid;
    place-items: center;
    width: 520px;
    height: auto;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding: 1vh 10vw;
    border: 1px solid gold;
    border-radius: 12px;
    background-color: rgb(255 255 255 / 70%);
    font-size: larger;

    @media screen and (width <= 520px) {
        width: 95%;
    }
}
