@tailwind base;
@tailwind components;
@tailwind utilities;
/* 主题切换 */
.dark {
    --bg-color: red;
}

.light {
    --bg-color:red;
}

:root {
    /* 媒体查询断点 */
    --breakpoint-phone: 480px;
    --breakpoint-mobile: 768px;
    --breakpoint-pc: 1080px;

    /* 滚动条配置，始终显示垂直滚动条，避免布局抖动 */
    overflow-y: scroll;
    font-family: system-ui;
    scroll-behavior: smooth;
    scroll-padding: 2rem;

    /* 浏览器兼容配置 */
    text-size-adjust: 100%; /* 禁止 iOS 上文本大小自动调整 */
    text-size-adjust: 100%; /* 禁止 IE 和 Edge 自动调整文本大小 */
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%); /* 移除ios设备上的点击高亮效果 */

    font-synthesis: style;
    font-size: 16px;
    word-wrap: break-word;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*, ::before, ::after {
    box-sizing: border-box;
}